# This requirements file is derived from the environment.yml file, which
# should be considered the canonical definition of the dependencies for this
# package. This requirements file is used (in combination with
# docs/requirements.txt) for the Read the Docs documentation build. xcube is
# installed from its GitHub repository, since there are no PyPI releases for
# it.

